<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Transport Video Search System</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    You don't have any tasks running
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="/tasks">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a (click)="setDefaultBellColor()" [style.color]='bellColor' class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                
                <!-- No alerts -->
                <ul *ngIf="!alertsList || alertsList.length == 0" class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="/alerts">
                            <div>
                                You don't have any alerts
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="/alerts">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>

                <!-- Alerts exist  -->
                <ul *ngIf="alertsList && alertsList.length > 0" class="dropdown-menu dropdown-alerts">
                        <ng-container *ngFor="let alert of alertsList">
                            <li>
                                <a href="/alerts">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> {{alert.message}}
                                        <span class="pull-right text-muted small">{{alert.time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                        </ng-container>

                        <li>
                            <a class="text-center" href="/alerts">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>


                <!-- /.dropdown-alerts -->
            </li>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a (click)="logout()" ><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li class="active">
                        <a href="/profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                    </li>
                    <li>
                        <a href="/tasks"><i class="fa fa-tasks fa-fw"></i> Tasks</a>
                    </li>
                    <li>
                        <a href="/alerts"><i class="fa fa-bell fa-fw"></i> Alerts</a>
                    </li>
                    <li>
                        <a href="/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 *ngIf="profile" class="page-header">{{profile.name}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <!--User Info Panel-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User Information
                        </div>
                        <div *ngIf="profile" class="panel-body">

                            <!-- User's Avatar -->
                            <div class="col-lg-3">
                                <img class="media-object" src="http://tvss.me:4000/account-service/picture/{{profile.picture}}" width="200px" height="200px"/>
                            </div>

                            <!-- User's Info -->
                            <div class="col-lg-9">
                                <div>
                                    <label >Username: </label>
                                    <b>{{profile.name}}</b>
                                </div>
                                <div *ngIf="profile.first_name">
                                    <label >First name: </label>
                                    <b >{{profile.first_name}}</b>
                                </div>
                                <div *ngIf="profile.last_name">
                                    <label >Last name: </label>
                                    <b >{{profile.last_name}}</b>
                                </div>
                                <div>
                                    <label >Email: </label>
                                    <b *ngIf="profile">{{profile.email}}</b>
                                </div>
                                <div *ngIf="profile.phone">
                                    <label >Phone: </label>
                                    <b >{{profile.phone}}</b>
                                </div>
                                <div *ngIf="profile.skype_name">
                                    <label >Skype: </label>
                                    <b >{{profile.skype_name}}</b>
                                </div>
                                
                            </div>

                            <div *ngIf="profile.quote">
                                <i>{{profile.quote}}</i>
                            </div>
                        </div>
                    </div>
                    <!--End Of User Info Panel-->

                    <!--Activity Panel-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Activity
                        </div>
                        <div class="panel-body">
                            <div id="cal-heatmap"></div>
                        </div>
                    </div>
                    <!--End Of Activity Panel-->

                    <!--Suspicious Transport Panel-->
                    <div *ngIf="suspiciousList && suspiciousList.length > 0" class="panel panel-default">
                        <div class="panel-heading">
                            Suspicious Transport
                        </div>
                        <div class="panel-body">    
                                <table class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Number plate</th>
                                    <th>Model</th>
                                    <th>Color</th>
                                    <th>Body number</th>
                                    <th>Chassis number</th>
                                    <th>Department</th>
                                    <th>Preview</th>
                                </tr>
                                <tr *ngFor="let match of suspiciousList | paginate: {itemsPerPage: 2, currentPage:page, id: '1'}; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{match.wanted_transport.number_plate}}</td>
                                    <td>{{match.wanted_transport.model}}</td>
                                    <td>{{match.wanted_transport.color}}</td>
                                    <td>{{match.wanted_transport.body_number}}</td>
                                    <td>{{match.wanted_transport.chassis_number}}</td>
                                    <td>{{match.wanted_transport.department}}</td>
                                    <td>
                                    
                                        <img class='media-object' src='http://tvss.me:4000/recognition-service/suspicious-picture/{{match.image}}' width='300px' height='200px'/>

                                    </td>
                                </tr>
                            </table>
                            <pagination-controls (pageChange)="page = $event" id="1"
                                  maxSize="5"
                                  directionLinks="true"
                                  autoHide="true">
                            </pagination-controls>
                        </div>
                    </div>
                    <!--End Of Suspicious Transport Panel-->

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->